{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Prediction</th>
                <th>Timestamp</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for prediction in predictions %}
            <tr>
                <td>{{ prediction.id }}</td>
                <td>{{ prediction.prediction }}</td>
                <td>{{ prediction.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>
                    <a href="{{ url_for('history', prediction_id=prediction.id) }}" class="btn btn-success">View Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
